" Garrett Maring
" Core {{{
let mapleader="\<Space>"
" enable filetype detection and: 
" * load plugins relevant to filetype
" * calculate indentation based on fileype
filetype plugin indent on
" No .swp file
set noswapfile 
" no legacy vi compatibility
set nocompatible
" force manually configuring pasted text
set nopaste
" default to English spelling
set spelllang=en_us

" esc
inoremap jk <ESC>
" write
noremap <LEADER>w <ESC> :w<CR>
" quit
noremap <LEADER>q <ESC> :q<CR>
" quit all
noremap <LEADER>qq <ESC> :qa<CR>
" write and quit
inoremap <LEADER>wq <ESC> :wq<CR>
" load .vimrc
noremap <LEADER>source <ESC> :source ~/.vimrc<CR>
" }}}
" Mouse & Keyboard {{{
" backspace works as expected
set backspace=indent,eol,start
" enable mouse in all modes
set mouse=a
" }}}
" Movement {{{
" jump to beginning/end of code block
noremap <LEADER>[ [{
noremap <LEADER>] ]}
" jump to beginning/end of parens
noremap <LEADER>( [(
noremap <LEADER>) ])
" }}}
" Tabs & Spaces {{{
" copies indentation of current line when entering a new line with 'O'
set autoindent
" tab key inserts spaces instead of tab character
set expandtab
" indents conform to edited tab settings
set smarttab
set softtabstop=0
" width of an indent in space
set shiftwidth=2
" width of a hardtabstop in spaces
set tabstop=2
" }}}
" Search & Select {{{
" system clipboard support
set clipboard=unnamed
" search as characters are entered
set incsearch
" default to ignore case
set ignorecase
" will not ignore case if capital characters are entered
set smartcase
" highlight search
set hlsearch
" substiture with /g by default
set gdefault

" turn off search highlight
nnoremap <LEADER>nh :noh<CR>
" highlight everything inside block (inclusive)
noremap <LEADER>%% V$%
vnoremap <LEADER>%% $%
" copy to system clipboard
vnoremap <LEADER>C :w !pbcopy<CR>
" }}}
